* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  position: relative;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 7rem;
  background: transparent;
  width: 100%;
  color: white;
}
header .upper-header {
  display: none;
}
header .lower-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  min-height: 7rem;
  background: transparent;
  width: 100%;
  color: white;
}
header .lower-header .logo-div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
header .lower-header nav {
  display: flex;
  gap: 15px;
  align-items: center;
}
header .lower-header nav a:last-child {
  border: 1px solid white;
  padding: 10px;
}
header .lower-header nav a:last-child:hover {
  border: 1px solid #B3A89A;
  padding: 10px;
  color: #B3A89A;
}
header .lower-header nav a {
  color: white;
}
header .lower-header .hamburger-div {
  display: none;
}
header .lower-header .callnow-div {
  display: none;
}

main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/background-image-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6) saturate(0.7) contrast(0.9);
  z-index: -1;
  pointer-events: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
main .first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20rem;
  gap: 1rem;
}
main .first-section h1 {
  font-size: 50px;
}
main .first-section h3 {
  font-size: 25px;
  text-align: center;
}
main .second-section {
  background-color: #262626;
  height: auto;
  width: 100%;
  margin-top: 50rem;
  padding: 0 5rem;
  overflow-x: clip;
  overflow-y: visible;
}
main .second-section .grid-container-inner {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 4rem;
}
main .second-section .grid-item {
  box-shadow: 0 0 0 1px #9a8a78;
  min-height: 10rem;
}
main .second-section .item1 {
  grid-column: 1/span 2;
  grid-row: 1;
  overflow: hidden;
  position: relative;
}
main .second-section .item1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
main .second-section .item2 {
  display: flex;
  flex-direction: column;
  grid-column: 3/span 2;
  grid-row: 1;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: -6rem;
  gap: 1.5rem;
}
main .second-section .item2 h2 {
  letter-spacing: 5px;
  font-size: 35px;
}
main .second-section .item2 ul {
  margin-left: -2rem;
}
main .second-section .item2 ul li {
  list-style-type: disc;
  padding-bottom: 10px;
}
main .second-section .item2 button {
  width: 16rem;
  height: 4rem;
  background-color: #9a8a78;
  border: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}
main .second-section .item2 button:hover {
  background-color: rgba(154, 138, 120, 0.8078431373);
}
main .second-section .item1,
main .second-section .item2 {
  height: 700px;
}
main .second-section .item3,
main .second-section .item4,
main .second-section .item5,
main .second-section .item6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 287px;
  gap: 1rem;
}
main .second-section .item3 svg,
main .second-section .item4 svg,
main .second-section .item5 svg,
main .second-section .item6 svg {
  width: 4rem !important;
  height: 4rem !important;
}
main .second-section .item7 {
  grid-column: 1/span 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  padding: 0 5rem;
}
main .second-section .item7 h2 {
  letter-spacing: 5px;
  font-size: 35px;
}
main .second-section .item7 h3 {
  font-size: 25px;
  color: #9a8a78;
}
main .second-section .item7 p {
  line-height: 1.8;
}
main .second-section .item7 h2,
main .second-section .item7 h3,
main .second-section .item7 p {
  width: 100%;
}
main .second-section .item8 {
  grid-column: 3/span 2;
  grid-row: 3;
  overflow: hidden;
  position: relative;
}
main .second-section .item8 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
main .second-section .item7,
main .second-section .item8 {
  display: flex;
  height: 651px;
}
main .third-section {
  height: auto;
  width: 100%;
  padding: 0 5rem;
  background-color: #262626;
  position: relative;
  z-index: 1;
}
main .third-section .recent-projects-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
main .third-section .recent-projects-text h2 {
  letter-spacing: 5px;
  font-size: 35px;
  font-size: 40px;
}
main .third-section .img-gallery-div {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(18, 1fr);
  overflow: hidden;
  margin: 0px;
  width: 100%;
  height: 100%;
  min-height: 20rem;
}
main .third-section .img-gallery-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border: 1px solid #9a8a78;
}
main .third-section .img-gallery-div .project-imgs {
  position: relative;
}
main .third-section .img-gallery-div .project-imgs .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  opacity: 0;
  cursor: pointer;
}
main .third-section .img-gallery-div .project-imgs .overlay p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  text-align: center;
}
main .third-section .img-gallery-div .project-imgs .overlay:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.555);
}
main .third-section .img-gallery-div #img1 {
  grid-column: span 4;
  grid-row: span 8;
}
main .third-section .img-gallery-div #img2 {
  grid-column: 6/span 4;
  grid-row: span 6;
}
main .third-section .img-gallery-div #img3 {
  grid-column: 6/span 4;
  grid-row: 8/span 8;
}
main .third-section .img-gallery-div #img4 {
  grid-column: span 4;
  grid-row: 10/span 6;
}
main .third-section .img-gallery-div #img5 {
  grid-column: 11/span 10;
  grid-row: 1/span 15;
}
main .third-section .img-gallery-div .view-all-div {
  display: flex;
  grid-column: 9/span 5;
  grid-row: 15/span 2;
  z-index: 1;
}
main .third-section .img-gallery-div .view-all-div .view-all-btn {
  width: 16rem;
  height: 4rem;
  background-color: #9a8a78;
  border: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}
main .third-section .img-gallery-div .view-all-div .view-all-btn:hover {
  background-color: rgba(154, 138, 120, 0.8078431373);
}
main .fourth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 100%;
  padding: 0 5rem;
  background-color: #262626;
  overflow-x: clip;
  overflow-y: visible;
}
main .fourth-section .testimonials-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
}
main .fourth-section .testimonials-parent .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #9a8a78;
  height: 25rem;
  padding: 0 6rem;
  text-align: left;
  gap: 1rem;
  overflow: hidden;
}
main .fourth-section .testimonials-parent .testimonials h3 {
  font-size: 25px;
  color: #9a8a78;
  font-weight: 200;
}
main .fourth-section .testimonials-parent .testimonials h1 {
  font-size: 35px;
  font-weight: 100;
}
main .fourth-section .testimonials-parent .testimonials p {
  line-height: 25px;
}
main .fifth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 40rem;
  width: 100%;
  background-color: #262626;
  padding: 0 5rem;
  overflow-x: clip;
  overflow-y: visible;
}
main .fifth-section .copyright-mobile {
  display: none;
}
main .fifth-section .contact-text {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
main .fifth-section .contact-text h3 {
  font-size: 25px;
  color: #9a8a78;
  letter-spacing: 0.2rem;
  font-size: 35px;
  margin-bottom: 3rem;
}
main .fifth-section .contact-text p {
  font-size: 25px;
  color: #9a8a78;
  font-size: 16px;
  line-break: auto;
}
main .fifth-section .contact-text svg {
  width: 2rem;
  height: 2rem;
}
main .fifth-section .contact-text .address-div {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 1.5rem;
}
main .fifth-section form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .fifth-section form div {
  padding: 2rem;
}
main .fifth-section form .text-input {
  display: flex;
  flex-direction: column;
  color: #9a8a78;
  gap: 0.8rem;
}
main .fifth-section form input[type=text],
main .fifth-section form [type=email],
main .fifth-section form [type=number] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9a8a78;
}
main .fifth-section form .name-input {
  grid-column: 1;
  grid-row: 1;
}
main .fifth-section form .email-input {
  grid-column: 1/span 2;
  grid-row: 2;
}
main .fifth-section form .submit-input {
  grid-column: 1/span 2;
  grid-row: 4;
}
main .fifth-section form .submit-input #submit {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  color: #9a8a78;
  border: 1px solid #9a8a78;
}
main .fifth-section .contact-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
  height: 25rem;
  width: 15rem;
  color: #9a8a78;
}
main .fifth-section .contact-menu #callnow {
  width: 50%;
  margin-top: 2rem;
  height: 2.5rem;
  background-color: #9a8a78;
  border: 1px solid #9a8a78;
  color: #262626;
}
main .socials-parent {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2rem;
  bottom: 4rem;
  z-index: 10;
}
main .socials-parent .socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .socials-parent .socials .fb-div,
main .socials-parent .socials .insta-div,
main .socials-parent .socials .yelp-div {
  font-size: 24px;
  color: white;
  cursor: pointer;
}
main .chat-parent {
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 10;
}
main .chat-parent .chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  height: 3rem;
  width: 12rem;
  border: none;
  border-radius: 6rem;
  background-color: #9a8a78;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #262626;
}

@media (max-width: 1120px) {
  main .third-section {
    height: 100rem;
  }
  main .third-section .img-gallery-div {
    grid-template-rows: repeat(18, 1fr);
  }
  main .third-section .img-gallery-div #img1 {
    grid-column: 1/span 9;
    grid-row: 1/span 5;
  }
  main .third-section .img-gallery-div #img2 {
    grid-column: 11/span 10;
    grid-row: span 4;
  }
  main .third-section .img-gallery-div #img3 {
    grid-column: 11/span 10;
    grid-row: 6/span 4;
  }
  main .third-section .img-gallery-div #img4 {
    grid-column: 1/span 9;
    grid-row: 7/span 3;
  }
  main .third-section .img-gallery-div #img5 {
    grid-column: 1/span 20;
    grid-row: 11/span 6;
  }
  main .third-section .img-gallery-div .view-all-div {
    display: flex;
    grid-column: 9/span 5;
    grid-row: 16/span 2;
    width: 16rem;
    height: 4rem;
    margin-top: 5rem;
  }
}
@media (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    background: #262626;
    width: 100%;
    color: white;
  }
  header .upper-header {
    display: flex;
    width: 100%;
  }
  header .upper-header .callnow-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    background-color: #262626;
    border-bottom: 1px solid white;
  }
  header .upper-header .callnow-div p {
    text-align: center;
  }
  header .lower-header .logo-div {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  header .lower-header nav {
    display: none;
  }
  header .lower-header .hamburger-div {
    display: flex;
  }
  header .lower-header .hamburger-div .fa-bars {
    font-size: 2rem;
  }
  body .first-h1 h1 {
    text-align: center;
    font-size: 35px;
  }
  body .first-h3 h3 {
    font-size: 18px;
    font-weight: 100;
  }
  main .socials-parent {
    display: none;
  }
  main .chat-parent {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    z-index: 10;
  }
  main .chat-parent .chat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 6rem;
    background-color: #9a8a78;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
  }
  main .chat-parent p {
    display: none;
  }
  main .second-section {
    background-color: #262626;
    height: auto;
    width: 100%;
    margin-top: 45rem;
    padding: 0;
  }
  main .second-section .grid-container-inner {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0;
  }
  main .second-section .grid-item {
    box-shadow: 0 0 0 1px #9a8a78;
    min-height: 0;
  }
  main .second-section .item1 {
    grid-column: 1/span 2;
    grid-row: 2;
    overflow: hidden;
    position: relative;
    min-width: 20rem;
    min-height: 15rem;
    width: 100%;
    height: auto;
  }
  main .second-section .item1 img {
    width: 100%;
    height: auto;
    min-width: 20rem;
    min-height: 15rem;
  }
  main .second-section .item2 {
    display: flex;
    flex-direction: column;
    grid-column: 1/span 2;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-left: -6rem;
    padding: 0;
    gap: 1.5rem;
    min-height: 25rem;
  }
  main .second-section .item2 h2 {
    letter-spacing: 5px;
    font-size: 35px;
    font-size: 1.8rem;
    margin-left: 2rem;
  }
  main .second-section .item2 ul {
    margin-left: 1rem;
    font-size: 1rem;
  }
  main .second-section .item2 ul li {
    list-style-type: disc;
    padding-bottom: 10px;
  }
  main .second-section .item2 button {
    width: 16rem;
    height: 4rem;
    background-color: #9a8a78;
    border: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
    width: 10rem;
    height: 3rem;
  }
  main .second-section .item2 button:hover {
    background-color: rgba(154, 138, 120, 0.8078431373);
  }
  main .second-section .item1,
  main .second-section .item2 {
    height: auto;
  }
  main .second-section .item3 {
    grid-column: 1/span 1;
    grid-row: 3;
  }
  main .second-section .item4 {
    grid-column: 2;
    grid-row: 3;
  }
  main .second-section .item5 {
    grid-column: 1;
    grid-row: 4;
  }
  main .second-section .item6 {
    grid-column: 2;
    grid-row: 4;
  }
  main .second-section .item3,
  main .second-section .item4,
  main .second-section .item5,
  main .second-section .item6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    max-height: 287px;
    overflow: hidden;
    gap: 1rem;
    text-align: center;
    box-shadow: none;
    border-bottom: 1px solid #9a8a78;
  }
  main .second-section .item3 p,
  main .second-section .item4 p,
  main .second-section .item5 p,
  main .second-section .item6 p {
    padding: 0 2rem;
  }
  main .second-section .item3 svg,
  main .second-section .item4 svg,
  main .second-section .item5 svg,
  main .second-section .item6 svg {
    width: 3rem !important;
    height: 3rem !important;
  }
  main .second-section .item7 {
    grid-column: 1/span 2;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    padding: 0 1rem;
  }
  main .second-section .item7 h2 {
    letter-spacing: 5px;
    font-size: 35px;
    font-size: 2rem;
  }
  main .second-section .item7 h3 {
    font-size: 1.3rem;
    color: #9a8a78;
  }
  main .second-section .item7 p {
    line-height: 1.8;
    font-size: 0.9rem;
  }
  main .second-section .item7 h2,
  main .second-section .item7 h3,
  main .second-section .item7 p {
    width: 100%;
  }
  main .second-section .item8 {
    grid-column: 1/span 2;
    grid-row: 6;
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
  }
  main .second-section .item8 img {
    height: auto;
    width: 100%;
  }
  main .second-section .item7,
  main .second-section .item8 {
    display: flex;
    height: auto;
    min-height: 20rem;
  }
  main .third-section {
    height: auto;
    width: 100%;
    padding: 0 1rem;
    background-color: #262626;
    position: relative;
    z-index: 1;
  }
  main .third-section .recent-projects-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
  }
  main .third-section .recent-projects-text h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-wrap: nowrap;
  }
  main .third-section .img-gallery-div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: auto;
    min-height: 20rem;
  }
  main .third-section .img-gallery-div img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    border: 1px solid #9a8a78;
  }
  main .third-section .img-gallery-div .project-imgs {
    position: relative;
    height: auto;
  }
  main .third-section .img-gallery-div .project-imgs .overlay {
    display: none;
  }
  main .third-section .img-gallery-div .project-imgs .overlay p {
    display: none;
  }
  main .third-section .img-gallery-div #img1 {
    grid-column: 1;
    grid-row: 1;
  }
  main .third-section .img-gallery-div #img2 {
    grid-column: 1;
    grid-row: 2;
  }
  main .third-section .img-gallery-div #img3 {
    grid-column: 1;
    grid-row: 3;
  }
  main .third-section .img-gallery-div #img4 {
    grid-column: 1;
    grid-row: 4;
  }
  main .third-section .img-gallery-div #img5 {
    grid-column: 1;
    grid-row: 5;
  }
  main .third-section .img-gallery-div .view-all-div {
    display: flex;
    grid-column: 1;
    grid-row: 6;
    z-index: 1;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .third-section .img-gallery-div .view-all-div .view-all-btn {
    width: 16rem;
    height: 4rem;
    background-color: #9a8a78;
    border: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    height: 2rem;
  }
  main .third-section .img-gallery-div .view-all-div .view-all-btn:hover {
    background-color: rgba(154, 138, 120, 0.8078431373);
  }
  main .fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    width: 100%;
    padding: 2rem 0;
    background-color: #262626;
    overflow-x: clip;
    overflow-y: visible;
  }
  main .fourth-section .testimonials-parent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    width: auto;
  }
  main .fourth-section .testimonials-parent .main-h1 {
    background-color: #9a8a78;
    height: 10rem;
  }
  main .fourth-section .testimonials-parent .names {
    height: 16rem;
  }
  main .fourth-section .testimonials-parent .testimonials {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #9a8a78;
    width: 100%;
    padding: 0 4rem 0 1rem;
    text-align: left;
    gap: 1rem;
    overflow: hidden;
    text-align: left;
  }
  main .fourth-section .testimonials-parent .testimonials h3 {
    font-size: 25px;
    color: #9a8a78;
    font-weight: 200;
    text-align: left;
  }
  main .fourth-section .testimonials-parent .testimonials h1 {
    font-size: 32px;
    font-weight: 100;
    text-align: left;
  }
  main .fourth-section .testimonials-parent .testimonials p {
    line-height: 25px;
    text-align: left;
  }
  main .fifth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color: #262626;
    padding: 1rem;
    overflow-x: clip;
    overflow-y: visible;
  }
  main .fifth-section .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
  }
  main .fifth-section .contact-text h3 {
    font-size: 25px;
    color: #9a8a78;
    letter-spacing: 0.2rem;
    font-size: 35px;
    margin-bottom: 1rem;
  }
  main .fifth-section .contact-text p {
    font-size: 25px;
    color: #9a8a78;
    font-size: 16px;
    line-break: auto;
  }
  main .fifth-section .contact-text svg {
    width: 2rem;
    height: 2rem;
  }
  main .fifth-section .contact-text .address-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 0.5rem;
    margin-top: 1rem;
    text-align: center;
  }
  main .fifth-section .contact-text .copyright {
    display: none;
  }
  main .fifth-section form {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  main .fifth-section form div {
    padding: 2rem;
  }
  main .fifth-section form .text-input {
    display: flex;
    flex-direction: column;
    color: #9a8a78;
    gap: 0.8rem;
    width: 100%;
  }
  main .fifth-section form input[type=text],
  main .fifth-section form [type=email],
  main .fifth-section form [type=number] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9a8a78;
  }
  main .fifth-section form .name-input {
    grid-column: 1;
    grid-row: 1;
  }
  main .fifth-section form .email-input {
    grid-column: 1;
    grid-row: 2;
  }
  main .fifth-section form .submit-input {
    grid-column: 1;
    grid-row: 6;
  }
  main .fifth-section form .submit-input #submit {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    color: #9a8a78;
    border: 1px solid #9a8a78;
  }
  main .fifth-section .contact-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    height: auto;
    width: 15rem;
    color: #9a8a78;
  }
  main .fifth-section .contact-menu #callnow {
    width: 50%;
    margin-top: 2rem;
    height: 2.5rem;
    background-color: #9a8a78;
    border: 1px solid #9a8a78;
    color: #262626;
  }
  main .fifth-section .copyright-mobile {
    display: flex;
    color: #9a8a78;
    margin-top: 4rem;
    height: 10rem;
  }
}
body {
  background-color: #262626;
}

.services-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 5rem;
}
.services-parent .services {
  box-shadow: 0 0 0 1px #9a8a78;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-parent .services .services-inner-div {
  padding: 0 5rem;
}
.services-parent .div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9a8a78;
}
.services-parent .div4 img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=style.css.map */